<HTML>

<head>
	<style type="text/css">
	a{
		color : #FFFFFF !important; 
	}

	.dropdown-menu
	{
		color : #8b9dc3 !important;
	}
	</style>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="background: #3b5998; " role="navigation"> 
		<div class = "container"> 
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"  style="background:#8b9dc3; color : white;" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Facebook</a>
			</div>
			
			<div class="navbar-collapse collapse"> 
				<ul class="nav navbar-nav navbar-right"> 
					
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li><a href="">About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes<b class="caret"></b></a>
						<ul class="dropdown-menu">
        					<li><a href="#">Action</a></li>
        					<li><a href="#">Another action</a></li>
   						</ul>
					</li>


				</ul>
			</div>



		</div>
	</nav>

