/* it's a good idea to define a height and width for quickFlip */

.quickFlip, .quickFlip3 {
    height: 250px;
    width: 400px;

}


/* the rest of this is irrelevent */

.clear {
    clear: both;
    magin: 0;

}




/**** panels ****/

.quickFlip, .quickFlip2, .quickFlip3 {
    font-family: "Trebuchet MS", Verdana, Sans-serif, sans;
    font-size: 13px;
    position: relative;

}

.quickFlip .blackPanel, .quickFlip2 .blackPanel, .quickFlip3 .blackPanel {
   background-image:url(../../images/course_bg1.png);
   background-repeat:repeat-x;
   opacity:0.8;
   
   
    background-color: #ECECEC;
    color: #000;
    border: 1px outset #e9e9e9;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius:15px;
}

.quickFlip .redPanel, .quickFlip2 .redPanel, .quickFlip3 .redPanel {
   background-image:url(../../images/course_bg1.png);
   background-repeat:repeat-x;
   opacity:0.8;
    background-color: #ECECEC;
    color: #000;
    border: 1px outset #e9e9e9;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius:15px;
}




.quickFlip2 .redPanel a {
    color: #FFF;
}

.quickFlipCta {
    cursor: hand;
	padding-left:15px;
}